<div class="login-popup">
    <div class="content-wrapper">
        <h2>Authorization</h2>
        <div class="input-fields">
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
        </div>
        <div class="incorrect_credentials" *ngIf="Incorrect">
            <p>Incorrect username or password</p>
        </div>
        <div class="incorrect_credentials" *ngIf="Emptycredentials">
            <p>Please enter both username and password</p>
        </div>

        <div class="login">
            <button class="login-button" (click)="signIn()">Sign In</button>
        </div>
    </div>
</div>
<div class="register-prompt">
    <p>Don't have an account?</p>
    <button type="button" (click)="navigateToRegister()">Register</button>
</div>
